:root {
    --color-accent-primary: #FBFA34;
    --color-accent-secondary: #8AFF8E;
    --color-accent-tertiary: #FF7184;
    --color-black: #000;
    --color-black-lighter: #464855;
    --color-white: #fff;
}