@import "_normalize.scss", "_resets.scss", "_colors.scss";

:global(*) {
    color: var(--color-black);
}

:global(.page-wrapper) {
    display: flex;
    min-height: 100vh;

    :global(.left-block) {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 150px;
        background-color: var(--color-accent-primary);

        :global(.wave-icon) {
            width: 30%;
            fill: var(--color-black);
        }
    }

    :global(.content-wrapper) {
        margin-left: 90px;
        flex-grow: 1;
    }
}