@import "_normalize.scss", "_resets.scss", "_colors.scss";

:global(*) {
    color: var(--color-black);
}

:global(.page-wrapper) {
    display: flex;
    height: max(100vh, 720px);
    overflow-x: hidden;
    overflow-y: auto;

    :global(.content-wrapper) {
        margin-left: 90px;
        flex-grow: 1;

        overflow: hidden;

        display: flex;
        flex-direction: column;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
small,
span,
input,
select,
textarea {
    font-family: "Roboto Mono";
}