<div local-class="main-wrapper__cover">
    <img local-class="cover" src="/asssets/img/cover.jpg" aria-hidden="true" />
    <small local-class="copyright">{{t "landing.cover-picture.copyright"}}</small>
</div>