<div local-class="main-wrapper__cover" data-test-cover-picture-wrapper ...attributes>
    <img local-class="cover" src="/asssets/img/cover.jpg" alt="" aria-hidden="true" data-test-cover-picture-img />
    <small local-class="copyright" data-test-cover-picture-small>{{t "landing.cover-picture.copyright"}}</small>
</div>