<div data-test-highlight-block local-class="highlight-block" ...attributes>
    <h1 data-test-highlight-block-title>{{t "landing.highlight-block.title"}}<br />{{t
        "landing.highlight-block.subtitle" htmlSafe=true}}</h1>
    {{svg-jar "right-arrow" local-class="highlight-block__icon" aria-hidden="true" data-test-highlight-block-img="svg"}}
</div>