.highlight-block {
  @media (max-width: 1250px) {
    display: none;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--color-black);

  width: 600px;

  padding: 50px;

  > * {
    color: var(--color-accent-primary);
    font-family: 'Roboto Mono';
    font-size: 20px;
    line-height: 26px;
  }

  .highlight-block__icon {
  }
}
