<div local-class="highlight-block" ...attributes>
    <h1>{{t "landing.highlight-block.title"}}<br />{{t "landing.highlight-block.subtitle" htmlSafe=true}}</h1>
    {{svg-jar "right-arrow" local-class="highlight-block__icon" aria-hidden="true"}}
</div>