<div local-class="main-wrapper">
    <Landing::MainContent local-class="main-wrapper__content" />
    <Landing::CoverPicture local-class="main-wrapper__cover" />
    <Landing::HighlightBlock local-class="main-wrapper__highlight" />
</div>