.main-wrapper__highlight {
  position: absolute;
  bottom: 0;
  left: 250px;
}
.main-wrapper__content {
  @media (max-width: 800px) {
    width: 100%;
  }
  width: 400px;
  flex-shrink: 0;
}

.main-wrapper__cover {
  flex-grow: 1;
}
