<div local-class="main-wrapper" data-test-landing-page-wrapper>
    <Landing::MainContent local-class="main-wrapper__content" data-test-landing-page-main-content />
    <Landing::CoverPicture local-class="main-wrapper__cover" data-test-landing-page-cover-picture />
    <Landing::HighlightBlock local-class="main-wrapper__highlight" data-test-landing-page-highlight-block />
</div>