<main local-class="main-wrapper" ...attributes>
    <h2 class="contrasted-title" local-class="main-wrapper__title">{{t "index.title" htmlSafe=true}}</h2>
    <Landing::MainContent::SpotsSelection />
</main>