<main
  local-class='main-wrapper'
  ...attributes
  data-test-landing-main-content-wrapper
>
  <h2
    class='contrasted-title'
    local-class='main-wrapper__title'
    data-test-landing-main-content-title
  >{{t 'index.title' htmlSafe=true}}</h2>
  <Landing::MainContent::SpotsSelection
    @spots={{@spots}}
    data-test-landing-main-content-spots
  />
</main>