.main-wrapper {
    padding-top: 100px;
    padding-right: 90px;
    .main-wrapper__title {
        text-transform: uppercase;
        font-size: 48px;
        line-height: 61px;
        font-family: "Roboto Mono";
        font-weight: 500;

        color: var(--color-black-lighter);

        >span {
            color: var(--color-accent-tertiary);
        }
    }
}