<Shared::Form @submit-cta="Search" @submitHandler={{this.handleSpotSelectionSubmit}}>
    <:controls>
        <Shared::Form::Select @aria-label="Select country" @label="Country">
            <:options>
                <option>Ciao</option>
                <option>Miao</option>
            </:options>
        </Shared::Form::Select>
        <Shared::Form::Select @aria-label="Select region" @label="Region">
            <:options>
                <option>Ciao</option>
                <option>Miao</option>
            </:options>
        </Shared::Form::Select>
        <Shared::Form::Select @aria-label="Select spot" @label="Spot">
            <:options>
                <option>Ciao</option>
                <option>Miao</option>
            </:options>
        </Shared::Form::Select>
    </:controls>
</Shared::Form>