<div local-class="highlight-block">
    <ul>
        <li>
            <a href="https://github.com/nicolasgasco" target="_blank" rel="noopener noreferrer"
                aria-label="See my GitHub" tabindex="0">{{svg-jar "github" }}</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/nicolasgasco/" target="_blank" rel="noopener noreferrer"
                aria-label="See my LinkedIn" tabindex="0">{{svg-jar
                "linkedin" }}</a>
        </li>
    </ul>
</div>