<div local-class="navbar" data-test-nav-bar-wrapper>
    <div local-class="navbar__inner">
        <Layout::NavBar::Links />
        <Layout::NavBar::SocialButtons />
    </div>
    <Layout::NavBar::LanguageSelector />
</div>