.navbar {
    display: flex;

    .navbar__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 40px 56px;
        padding-left: 0;
        flex-grow: 1;
    }
}