.highlight-block {
    >select {
        width: 100%;
        height: 100%;

        padding: 40px 48px;

        background: var(--color-accent-secondary);

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: var(--color-accent-secondary-darker);
        }
    }
}