<nav local-class="links-list" data-test-nav-bar-links-wrapper>
    <LinkTo @route="index" data-test-nav-bar-links-link="index">{{t "layout.nav-bar.links.home"}}</LinkTo>
    <LinkTo @route="about" data-test-nav-bar-links-link="about">{{t "layout.nav-bar.links.about"}}</LinkTo>
</nav>