<nav local-class="links-list" data-test-nav-bar-links-wrapper>
    <LinkTo @route="index">{{t "layout.nav-bar.links.home"}}</LinkTo>
    <LinkTo @route="about">{{t "layout.nav-bar.links.about"}}</LinkTo>
</nav>