<ul local-class="social-links" data-test-nav-bar-social-buttons-wrapper ...attributes>
    <li>
        <a href="https://github.com/nicolasgasco" target="_blank" rel="noopener noreferrer"
            aria-label={{t "layout.nav-bar.social.github" }} tabindex="0"
            data-test-nav-bar-social-buttons-link="github">{{svg-jar "github" aria-hidden="true" }}</a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/nicolasgasco/" target="_blank" rel="noopener noreferrer"
            aria-label={{t "layout.nav-bar.social.linkedin" }} tabindex="0"
            data-test-nav-bar-social-buttons-link="linkedin">{{svg-jar
            "linkedin" aria-hidden="true" }}</a>
    </li>
</ul>