<ul local-class="social-links" data-test-nav-bar-social-buttons-wrapper>
    <li>
        <a href="https://github.com/nicolasgasco" target="_blank" rel="noopener noreferrer"
            aria-label={{t "layout.nav-bar.social.github" }} tabindex="0">{{svg-jar "github" }}</a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/nicolasgasco/" target="_blank" rel="noopener noreferrer"
            aria-label={{t "layout.nav-bar.social.linkedin" }} tabindex="0">{{svg-jar
            "linkedin" }}</a>
    </li>
</ul>