.social-links {
  @media (max-width: 800px) {
    display: none;
  }
  display: flex;
  justify-content: center;
  align-items: center;

  > :not(:last-child) {
    margin-right: 25px;
  }

  svg {
    width: 40px;
  }
}
