<div local-class='wf-width-cont surf-fc-widget'>
  <div local-class='widget-container'>
    <div local-class='external-cont'>
      <iframe
        local-class='surf-fc-i'
        allowtransparency='true'
        src='//www.surf-forecast.com/breaks/La-Arena-1/forecasts/widget/a'
        scrolling='no'
        frameborder='0'
        marginwidth='0'
        marginheight='0'
      ></iframe>
      <div local-class='footer'>
        <div local-class='about' id='cmt'>More
          <a href='//www.surf-forecast.com/breaks/La-Arena-1'>Detailed Surf
            Conditions &amp; Webcams for&nbsp;La Arena</a>
          <nobr>at&nbsp;
            <a href='//www.surf-forecast.com/'>surf-forecast.com</a>
          </nobr>.
        </div>
      </div>
    </div>
  </div>
</div>