<div local-class='spot-webcams-wrapper'>
  {{#if @webcams}}
    {{#each @webcams as |webcam|}}
      <img src={{webcam}} aria-hidden='true' />
    {{/each}}
  {{else}}
    <p>No webcams to show :(</p>
  {{/if}}

</div>