{{page-title "Suft Advisor"}}
<div aria-hidden="true" class="page-wrapper">
    <div class="left-block" aria-hidden="true">
        {{svg-jar "wave" aria-hidden="true" class="wave-icon"}}
    </div>
    <div class="content-wrapper">
        <Layout::NavBar />
        {{outlet}}
    </div>
</div>