{{page-title "SurfAdvisor"}}
<div aria-hidden="true" class="page-wrapper">
    <Layout::LeftSidebar />
    <div class="content-wrapper">
        <Layout::NavBar />
        {{outlet}}
    </div>
</div>